@font-face {
    font-family: Browzer;
    src: url(Starborn.ttf);
}

body {
    font-family: sans-serif;
    background-color: #f7f9f2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Browzer, sans-serif; 
  color: #f19ed2; 
}
